<div class="row clearfix">
	<div class="complete">
		<%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
			<% if todo_item.completed? %>
				<i class="fa fa-check opacity"></i>
			<% else %>
				<i class="fa fa-check"></i>
			<% end %>
		<% end %>
	</div>
	<% if todo_item.completed? %>
		<div class="todo_item opacity">
			<p><strike><%= todo_item.content %></strike></p>
		</div>
	<% else %>
		<div class="todo_item">
			<p><%= todo_item.content %></p>
		</div>
	<% end %>
	
	<div class="trash">
		<%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
			<i class="fa fa-trash"></i>
		<% end %>
	</div>	
</div>